.about{
    background-color: #e5e5e5;
    padding-top: 100px;
    padding-bottom:100px;
    letter-spacing: 0.055em;
   
    &__container{
 
        padding-right: 20px;
        padding-left: 20px;
        display: grid;
        margin: auto;
        max-width: 1340px;
        grid-template-columns: 1fr 271px;
        grid-gap:100px;
    }
    
    &__content{
        p{
            font-size: 1.125rem;
        }
    }
    
    &__h2{
        font-size: 2.5rem;
        letter-spacing: 0.1em;
        margin: 0 0 56px 0;

    }
    &__p1{
        margin: -5px 0 18px 0;
        position: relative;

        &::after{
            content: "";
            width: 2px;
            height: 200px;
            background-color: rgba(99, 117, 136, 0.1);
            position: absolute;
            top: 0;
            right: -50px;
        }
    }
    &__p2,
    &__p3,
    &__p4{
        margin: 18px 0;
    }
    &__p5{
        margin: 0;
    }

    &__img{
        display: grid;
        align-content: center;
        justify-items: end;


        img{
            max-width: 100%;
            max-height: 480px;
            margin-top: 20px;
        }
    }
}
@media(max-width: 991px) and ( min-width: 768px) {
    .about{
        padding-top: 80px;
        padding-bottom: 80px;

        &__container{
            grid-gap:40px;
            
        }
        &__h2{
            font-size: 32px;
            margin-bottom: 42px;
        }
        p{
            font-size: 16px;
            
        }
        &__p1{
            margin-bottom: 16px;
        }
        &__p2,
        &__p3,
        &__p4{
            margin: 16px 0 16px 0;
        }


        &__p1{
            &::after{
                right: -20px;
            }
        }
    }

}
@media(max-width: 767px) and (min-width: 576px){
    .about{
        padding-top: 60px;
        padding-bottom: 60px;


        &__container{
            grid-gap: 20px;
            grid-template-columns: 1fr 236px;
        }
        
        p{
            font-size: 16px;
            
        }
        &__p1{
            margin-bottom: 16px;
        }
        &__p2,
        &__p3,
        &__p4{
            margin: 16px 0 16px 0;
        }
        &__p1{
            &::after{
                right: -10px;
            }
        }
        &__h2{
            font-size: 24px;
            margin-bottom: 36px;
        }
        
    }
}

@media(max-width: 575px){

    .about{
        padding-top: 60px;
        padding-bottom: 60px;

        &__container{
            grid-template-columns: 1fr;
            font-size: 16px;
            padding: 0 20px 0 20px;
            grid-gap: 20px;

        }
        &__h2{
            font-size: 24px;
            text-align: center;
            margin-bottom: 36px;
        }

        p{
            font-size: 16px;
            
        }

        &__p1{
            margin-bottom: 16px;
        }
        &__p2,
        &__p3,
        &__p4{
            margin: 16px 0 16px 0;
        }
        &__img{
            justify-content: center;
        }
    }
}
