%container {
    max-width: $ul;
    margin-left: auto;
    margin-right: auto;
    padding-left: $gap;
    padding-right: $gap;
}

%section {
    @include lg-min {
        padding-top: $gap * 5;
        padding-bottom: $gap * 5;
    }
    @include lg-md {
        padding-top: $gap * 4;
        padding-bottom: $gap * 4;
    }
    @include md {
        padding-top: $gap * 3;
        padding-bottom: $gap * 3;
    }
    h2 {
        margin-top: 0;
    }
}

%btn-min-size {
    @include sm-min {
        min-width: 350px;
    }
    @include sm {
        width: 100%;
    }
}

%btn-wrapper {
    @include sm-min {
        display: flex;
        justify-content: center;
    }
    .btn-accent {
        @extend %btn-min-size;
    }
}